<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=BRZGRUDBDVFIN01\SICOM; Initial Catalog=Corporate; Persist Security Info=True; User ID=usr_extranet; Password=extranet; Connect Timeout=900; Pooling=True; Max Pool Size=500" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
